name: Download

on:
  schedule:
    - cron:  '*/15 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: master

      - name: NPM Install
        run: npm ci --only=production

      - name: Fetch data
        run: npm run downloader

      - name: Commit
        shell: bash
        run: |
          git config user.name $GITHUB_ACTOR
          git config user.email $GITHUB_ACTOR@users.noreply.github.com
          git add data
          git commit -am "-"
          git push
